.phone-large-font {
    font-size: 1.1rem !important;
}
.phone-font {
    font-size: 0.9rem !important;
}
.phone-small-font {
    font-size: 0.8rem !important;
}
.phone-tiny-font {
    font-size: 0.7rem !important;
}